body{
    background-color: rgb(56, 64, 71);
    font-family: Verdana;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.categoryRowBox{
    border: 3px solid rgb(255, 255, 255);
}
#runnerInput{
    display: flex;
    margin-top: 150px;
}
#runnerInputBox{
    font-size: 1.2rem;
    border-radius: 5px;
    margin-right: 10px;
}
#runnerSubmit{
    font-size: 1.2rem;
    border-radius: 5px;
}
#runnerList{
    color: white;
    max-width: 1900px;
}



.categoryBox{
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    margin-right: 15px;
    margin-bottom: 25px;
    border: 3px solid rgb(255, 255, 255);
    text-align: center;
    width: 160px;
    height: 180px;
}
.categoryLabelBox{
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    border: 3px solid rgb(255, 0, 0);
    display: grid;
    width: 160px;
    height: 80px;
    justify-content: center;;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}
.categoryResultBox{
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    border: 3px solid rgb(0, 89, 255);
    display: grid;
    width: 160px;
    height: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    border: 1px solid red;
    grid-template-columns: repeat(auto-fit, minmax(180px, 180px));
    justify-content: center;
}