body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(16, 16, 19);
    background-image: url("trickjump-bg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.generator{
    margin-top: 10%;
}

mark{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
button{
    background-color: rgb(17, 17, 17);
    color: white;
    border: 5px solid rgb(65, 65, 65);
    font-size: 2.25rem;
    border-radius: 15px;
    animation: activeAnim 100ms forwards;
}
button:hover{
    background-color: rgb(10, 10, 10);;
    border: 5px solid rgb(41, 41, 41);
    cursor: pointer;
    animation: hoverAnim 300ms forwards;
}
button:active{
    border: 5px solid rgb(29, 29, 29);
    animation: activeAnim 250ms forwards;
}

.title{
    margin-top: 30px;
}

#trickjumpName{
    font-size: 2.5rem;
    font-weight: bold;
}
#trickjumpDifficulty{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 50px;
}

#backBtn{
    margin-top: 200px;
}


@keyframes hoverAnim{
    0% {
        font-size: 2.25rem;
    }
    100% {
        font-size: 2.5rem;
    }
}
@keyframes activeAnim{
    0% {
        font-size: 2.5rem;
    }
    100% {
        font-size: 2.25rem;
    }
}