body{
    background-color: rgb(56, 64, 71);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-wrap: anywhere;
    margin: 0px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainLogo{
    border: 5px solid rgb(255, 255, 255);
    border-radius: 30px;
    width: 18rem;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#title{
    color: white;
    font-size: 3rem;
}

.subtitle{
    color: white;
    font-size: 1.75rem;
    margin-bottom: 10px;
}
.trickSubtitle{
    color: rgb(255, 0, 221);
    font-size: 1.6rem;
    text-decoration: underline;
    margin-left: 3%;
}

.dropdown{
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, max(18%, 200px));
    padding: 10px;
}
.container h3 {
    color: white;
    font-size: 65%;
}
.container div {
    padding: 10px;
    padding-bottom: 75px;
    height: 200px;
    font-size: 30px;
}
.container img {
    width: 100%;
    object-fit: fill;
    border: white 1px solid;
}


#category-guides-videos{
    display: grid;
}
#tricks-videos{
    display: none;
}
#movement-videos{
    display: none;
}
#misc-videos{
    display: none;
}


.gameLogo{
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.185);
    border: black solid 5px;
    width: 24rem;
    height: 12rem;
    margin-top: 5px;
    cursor: pointer;
    animation: unhoverImg 150ms forwards;
}
.gameLogo:hover{
    animation: hoverImg 150ms forwards;
}

@keyframes hoverImg{
    100%{
        width: 25rem;
        height: 12.5rem;
    }
}
@keyframes unhoverImg{
    0%{
        width: 25rem;
        height: 12.5rem;
    }
    100%{
        width: 24rem;
        height: 12rem;
    }
}


.center{
    align-items: center;
    text-align: center;
    justify-content: center;
}

button{
    font-weight: bold;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    background-color: rgb(185, 0, 158);
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 5px;
    margin-right: 5px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
button:hover{
    background-color: rgb(158, 0, 134);
}
button:active{
    background-color: rgb(122, 0, 104);
}


mark{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}


@keyframes dimImage{
    0%{
        background-color: rgba(0, 0, 0, 0);
    }
    100%{
        background-color: rgba(0, 0, 0, 0.1);
    }
}
@keyframes undimImage{
    0%{
        background-color: rgba(0, 0, 0, 0.1);
    }
    100%{
        background-color: rgba(0, 0, 0, 0);
    }
}

@keyframes slide-up{
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes fade-in{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-out{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.slide-up-class{
    animation: slide-up 400ms forwards;
}
.fade-in-class{
    animation: fade-in 400ms forwards;
}
.fade-out-class{
    animation: fade-out 400ms forwards;
}
.green-text-class{
    animation: green-text 400ms forwards;
}


dialog .wrapper{
    padding: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;  
}
dialog{
    /* remove scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border: 5px solid rgb(20, 3, 45);
    background-color: rgb(47, 3, 77);
}
/* remove scrollbar */
dialog::-webkit-scrollbar {
    display: none;
}

a{
    color: rgb(255, 0, 216);
    font-weight: bold;
}
a:hover{
    color: rgb(182, 0, 155);
}
a:active{
    color: rgb(150, 0, 127);
}